* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 5vh;
  background-color: #3d348b;
}

main {
  height: 85vh;
  background-color: #f5f5f5;
}

footer {
  height: 10vh;
  background-color: #3d348b;
}
@media screen and (min-width: 768px) {

  header {
    height: 10vh;
    background-color: #a31621;
  }

  main {
    height: 70vh;
  }

  footer {
    height: 20vh;
    background-color: #a31621;
  }

}